.card {
  flex: 1 1 300px;
  margin: 0 15px 30px;
  /* max-width: 400px; */
  max-width: 304px;
  width: 100%;
}

.thumbnail {
  position: relative;
  height: 200px;
  display: block;
  margin: 0 0 0.5em;
}

.thumbnail-inner {
  height: 100%;
  border-radius: 3px;
}

@media (max-width: 690px) {
  .card {
    max-width: 100%;
  }
}

@media (max-width: 1360px) {
  .card {
    max-width: 600px;
  }
}
