.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(75% - 15px);
  margin-bottom: 15px;
  border-bottom: 3px solid #3f3f42;
}

.light {
  composes: header;
  border-bottom: 3px solid #dadada;
}

.dark {
  composes: header;
  border-bottom: 3px solid #3f3f42;
}

.header h1 {
  margin-bottom: 0;
  border-bottom: none;
}
