.block {
  padding: 40px 0 40px 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dark {
  composes: block;
  background: #212223;
}

.light {
  composes: block;
  background: #d5d9de;
}

.inner {
  display: flex;
  align-items: stretch;
  width: 90%;
  margin: 0 auto;
}

.inner > div {
  margin-bottom: 0;
}
